
a,
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
}
/*main*/
#main{
    max-width: 1170px;
    margin: auto;
    background: #fff;
}
#main .main_bg{
    position: relative;
    height: 560px;
    background-size:cover;
}

#main .app_item{
    position: absolute;
    margin: 75px 0 0 17.094%;
}
#item .app_name{
    text-align: center;
    font-size: 24px;
    color: #86c7b2;
    padding-bottom: 50px;
    width: 100%;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#item .app_details{
    padding-bottom: 55px;
    font-size: 16px;
    width: 220px;
    color: #666;
}
#item .android,
#item .ios{
    text-align: center;
    padding-bottom: 40px;
}
#item .android a,
#item .ios a{
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    background-color: #9bceb1;
    border-radius:6px ;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#item .ios a .icon,
#item .android a .icon{
    display: block;
    position: absolute;
    margin: 12px 0 0 26px;
    width: 26px;
    height: 26px;
}
#item .android a .icon{
    background: url(./Android_icon.png) 0 center no-repeat;
}
#item .ios a .icon{
    background: url(./ios_icon.png) 0 center no-repeat;
}
#item .app_qrcode{
    text-align: center;
}
#item .app_qrcode img{
    width: 100px;
}
#item .install_tips{
    color: #666;
    font-size: 14px;
}
#page_right{
    position: absolute;
    margin:0 0 0 55%;
    bottom: 20%;
}
#page_right .banner_box{
    position: relative;
}
#page_right .banner_box img{
    width: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
#page_right .banner_2{
    position: absolute;
    z-index: 8;
    top: 102px;
    left: 0;
    width: 200px;
    height: 100%;
    max-height: 360px;
}
#page_right .banner_1{
    position: absolute;
    z-index: 9;
    top: 58px;
    left: 103px;
    width: 250px;
    height: 100%;
    max-height: 440px;
}
#content{
    background: #fff;
}
.score-warp{
    padding-top: 30px;
}
.score-warp .lable{
    text-align: center;
    font-size: 18px;
    color: #333;
}
.score-box{
    padding-top: 20px;
    text-align: center;
    font-size: 0;
}

.app_details{
    padding: 50px 7%;
}
.app_details .lable{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #333;
}
.app_details .text{
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

@media (max-width: 768px) {
    #page_right{
        display: none;
    }
    #item .app_details{
        margin: 0 auto;
    }
    #main .main_bg{
        height: auto;
    }
    #main .app_item{
        width: 100%;
        position: relative;
        margin: 0;
        padding: 50px 0;
    }
    #header{
        padding: 0 15px;
    }
    #header .title{
        padding: 25px 0;
    }
}
@media (max-width: 480px) {
    body,html{
        width: 100%;
        height: 100%;

    }
    body{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow:column nowrap;
        flex-flow: column nowrap;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    #header{
        min-height: 30px;
    }
    #header .title{
        padding: 10px 0;
    }
    #header .logo {
        display: none;
        width: 90px;
        height: 50px;
        background-size:100% ;
    }
    #header .back{
        display: none;
    }
    #main{
        flex: 1;
        margin: 0;
        height: 100%;
    }
    #main .main_bg{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow:column nowrap;
        flex-flow: column nowrap;
        -webkit-align-content: center;
        align-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        position: relative;
        height: 100%;
    }
    #main .app_item{
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }

}
@media (max-width: 320px) {

}


.main-wechat {
    max-width: 1170px;
    margin: 0 auto;
}

#wechatwrap {
    width: 100%;
}

#wechatwrap .wechatwrap-top {
    width: 100%;
    position: relative;
}

#wechatwrap .wechatwrap-top .title {
    position: absolute;
    top: 8.33333%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

#wechatwrap .wechatwrap-top .title .text {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.wechatwrap-img-box {
    width: 100%;
}

.wechatwrap-img-box img {
    display: block;
    width: 100%;
}

.wechatwrap-down-box {
    position: absolute;
    bottom: 30%;
    left: 14.2735%;
    text-align: center;
    font-size: 0;
}

.down-btn {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.down-btn .icon {
    display: inline-block;
}

.android-btn {
    margin-left: 40px;
}

.ios-btn {}

.down-qrcode {
    position: absolute;
    bottom: 30%;
    right: 13.50247%;
    text-align: center;
    font-size: 0;
}

@media screen and (max-width:800px) {
    .down-qrcode {
        display: none;
    }
}

.down-qrcode img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.down-qrcode .lable {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 10px;
    color: #fff;
}

.score_warp {
    padding-top: 28px;
    padding-bottom: 50px;
}

.score_warp .lable {
    text-align: center;
    color: #333;
    font-size: 18px;
}

.score-box {
    text-align: center;
    margin-top: 20px;
    font-size: 0;
}

.score-box .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-repeat: no-repeat;
}

.phone_warp {
    position: absolute;
    left: 41.02564%;
    bottom: 10%;
}

@media screen and (max-width:800px) {
    .phone_warp {
        position: absolute;
        bottom: 10%;
    }
}

.phone-box {
    position: relative;
}

.phone_img {
    display: block;
}

@media screen and (max-width:800px) {
    .phone_img {
        display: none;
    }
}

.screenshot_img {
    position: absolute;
    top: 47px;
    left: 14px;
    width: 186px;
    height: 329px;
}

@media screen and (max-width:800px) {
    .screenshot_img {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.phone_wrap {
    display: block;
}

@media screen and (max-width:800px) {
    .phone_wrap {
        display: none;
        bottom: 0;
        width: 100%;
        margin: auto;
    }
}

.phone_wrap_2 {
    display: none;
}

@media screen and (max-width:800px) {
    .phone_wrap_2 {
        display: block;
        bottom: 0;
        width: 100%;
        margin: auto;
    }
}

.phone_img_2 {
    display: none;
}

@media screen and (max-width:800px) {
    .phone_img_2 {
        display: block;
        bottom: 0;
        width: 100%;
        margin: auto;
    }
}
